{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MyMusic</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper orange">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;MyMusic</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'artists_create' %}">Add an Artist</a></li>
            <li><a href="{% url 'artists_index' %}">View All Artists</a></li>
            <li><a href="/music">My Music</a></li>
            <li><a href="{% url 'music_create'%}">Add Song</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer orange">
      <div class="right">All Rights Reserved, &copy; 2022 MyMusic &nbsp;</div>
    </footer>
  </body>
</html>
